@tailwind base;
@tailwind components;
@tailwind utilities;

.card-shadow {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.card-glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.gradient {
    background: rgb(242, 157, 196);
    background: linear-gradient(180deg, rgba(242, 157, 196, 1) 14%, rgba(236, 176, 203, 1) 100%);
}